<!-- fragments/step-nutrition-goals.html -->
<div th:fragment="step" class="step" id="step-6" th:classappend="${currentStep == 6} ? 'active'">
    <h3>Nutrition Goals</h3>

    <div class="mb-3">
        <label for="goal" class="form-label">Select Your Goal:</label>
        <select class="form-control" id="goal" name="goal" required>
            <option value="" disabled selected>Select your goal</option>
            <option th:each="nutritionGoal : ${nutritionGoalsOptions}"
                    th:value="${nutritionGoal}"
                    th:text="${nutritionGoal}">
            </option>
        </select>
    </div>

    <div class="mb-3">
        <label for="timeframeToAchieve" class="form-label">Timeframe to Achieve Goal:</label>
        <input type="text" class="form-control" id="timeframeToAchieve" name="timeframeToAchieve" placeholder="e.g., 3 months, 6 weeks" required>
    </div>

    <div th:replace="~{fragments/common/questionnaire-navigation-buttons :: navigationButtonsMiddle}"></div>
</div>
