<!-- templates/fragments/header.html -->
<div th:fragment="header">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" th:href="@{/}">MyApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}" th:classappend="${activePage == 'home'} ? 'active'">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/features}" th:classappend="${activePage == 'features'} ? 'active'">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/pricing}" th:classappend="${activePage == 'pricing'} ? 'active'">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/about}" th:classappend="${activePage == 'about'} ? 'active'">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin-time-slots}" th:classappend="${activePage == 'admin-calendar'} ? 'active'">Admin Page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>
