.step {
    display: none; /* Hide all steps by default */
}

.step.active {
    display: block; /* Show the active step */
}

body {
    background: linear-gradient(to right, #e0f7fa, #b2ebf2);
    background-attachment: fixed;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
}

.is-invalid {
    border-color: #dc3545; /* Bootstrap's red color for invalid feedback */
    background-color: #d7e0f8; /* Light red background for better visibility */
}